.dashboard-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.token-display {
    word-break: break-word;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #77cdef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #77cdef;
}